.section_Navbar {
  background-color: #0e0c38;
  height: 137px;

}
.navbarPosition{
  position: relative;
}
.imgStyle img{
  width: 590px;
  height: 263px;
}
.imgStyle{
  position: absolute;
  top: 0;
  left: 395px;
}
.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logoStyle img {
  width: 265px;
  height: 137px;
}

.listStyle {
  display: flex;
  align-items: center;
}
.listStyle li {
  list-style: none;
  font-family: PoppinsMedium, sans-serif;
}
.listStyle li a {
  color: white;
  padding: 50px 15px 20px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s ease;
  
}
.listStyle li a:hover {
  background-color: #ff0513;
}

.listStyle li button {
  font-family: PoppinsLight, sans-serif;
  font-size: 22px;
  padding: 20px 40px;
  border-radius: 60px;
  border: 2px solid white;
  color: white;
  background: transparent;
  margin-left: 22px;
}
.listStyle li button:hover{
  color: gray;
  background-color: white;
  border:2px solid gray;
}
/* hamburger menu and  button css */
.hmbrgrBtn{
  display: none;
  width: 60px;
  height: 60px;
  position: relative;
  background-color: transparent;
  right: 10px;
  border: none;
  transition: all .3s ease-in-out;
}

.topbar{
  position: absolute;
  border: 3px solid white;
  width: 50px;
  border-radius: 1px;
  top: 10px;
  right: 2px;
  transition: all .3s ease-in-out;
}
.midbar{
  position: absolute;
  border: 3px solid white;
  width: 50px;
  border-radius: 1px;
  right: 2px;
  top: 26px;
  transition: all .3s ease-in-out;
 
}
.bottombar{
position: absolute;
border: 3px solid white;
width: 50px;
border-radius: 1px;
right: 2px;
transition: all .3s ease-in-out;
top: 42px;

}
.hamBurgerlist li{
  list-style: none;
font-family: PoppinsMedium, sans-serif;
padding: 30px;
background-color:transparent;
display: flex;
justify-content: center;

color: white;
}

.hamBurgerlist li:hover{
  background-color: #ff0513;
}
.hamBurgerlist li a{
  text-decoration: none;
  color: white;
}
.hamBurgerlist li button {
  font-family: PoppinsLight, sans-serif;
  font-size: 22px;
  padding: 20px 40px;
  border-radius: 60px;
  border: 2px solid white;
  color: white;
  background: transparent;
  margin-left: 22px;
}
.hamBurgerlist li button:hover{
  color: gray;
  background-color: white;
  border:2px solid gray;
}
/* close button */
.hmbrgrBtnClose{
  display: none;
  width: 60px;
  height: 60px;
  position: relative;
  background-color: transparent;
  right: 10px;
  border: none;
  transition: all .3s ease-in-out;
}
.hmbrgrBtnClose .topbar{
  position: absolute;
  border: 3px solid white;
  width: 50px;
  border-radius: 1px;
  top: 10px;
  right: 2px;
  transform: rotate(50deg);
  transition: all .3s ease-in-out;
}
.hmbrgrBtnClose .midbar{
  position: absolute;
  border: 3px solid white;
  width: 50px;
  border-radius: 1px;
  top: 10px;
  right: 2px;
  display: none;
  transition: all .3s ease-in-out;
}
.hmbrgrBtnClose .bottombar{
  position: absolute;
  border: 3px solid white;
  width: 50px;
  border-radius: 1px;
  top: 10px;
  right: 2px;
  transform: rotate(-50deg);
  transition: all .3s ease-in-out;
}
/* .............. */
.hamBurgerlist{
  display: none;
  /* display: flex;
  justify-content: column; */
}
/* navbar media query start here */
@media (max-width: 991px) {
  body{
    z-index: -1;
    position: relative;
    /* transition: 1s ease; */
  }
  .imgStyle{
    display: none;
  }
   .list-style{
     display: none;
   }
   .listStyle li {
   display: none;
  }
  .hmbrgrBtn{
    display: block;
 
  }
  .hmbrgrBtnClose{
    display: block;
 
  }  
  .hamBurgerlist{
   display: block;
 
  }
  .hamburgerMenu{
  
    background-color:black;
    left: 0;
    width: 100vw;
    top: 137px;
    height: 100vh;
    position: absolute;
    z-index: 999;
  }
  
  
  
}